<?xml version="1.0"?>
<model>
  <name>MIMIQLight</name>
  <version>1.0</version>
  <sdf version='1.6'>MIMIQLight.sdf</sdf>

  <author>
   <name>Sean Bazzocchi</name>
   <email>sean.bazzocchi@gmail.com</email>
  </author>

  <description>
    This is a model of the MIMIQ-Light quadcopter developed for the Hybrid project at UVic CfAR. 
  </description>
</model>
