<?xml version="1.0"?>
<model>
  <name>Tarot IronMan 650</name>
  <version>1.0</version>
  <sdf version='1.4'>tarot_650.sdf</sdf>

  <author>
   <name>Sean Bazzocchi</name>
   <email>sean.bazzocchi@gmail.com</email>
  </author>

  <description>
    This is a model of the Tarot 650 Iron Man. 
  </description>
</model>
