<?xml version="1.2"?>
<model>
  <name>Mini E</name>
  <version>1.1</version>
  <sdf version='1.3'>mini_e.sdf</sdf>

  <author>
   <name>Sean Bazzocchi</name>
   <email>seanbazzocchi@uvic.ca</email>
  </author>

  <description>
    This is the gazebo model for the mini-e, a scale down foam version of the Eusphyra VTOL aircraft.
  </description>
</model>
